$grayishBlue: hsl(233, 8%, 62%);
$lightGreyishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$white-alt:rgba(255, 255, 255, 0.9);
$darkBlue:hsl(233, 26%, 24%);
$darkBlueAlt:rgba(45,49,77,0.8);
$lime: hsl(136, 65%, 51%);
$cyan: hsl(192, 70%, 51%);

