.btn-main {
  text-decoration: none;
  border-radius: 50px;
  padding: 8px 16px 8px 16px;
  color: white;
  -webkit-box-shadow: 9px 10px 19px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 9px 10px 19px 0px rgba(0, 0, 0, 0.21);
}

.btn-main {
  background-image: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to left, #2bb7da, #31d35c);
}

.changeBg {
  background-color: #2d314d !important;
}

@font-face {
  font-family: font;
  src: url(/fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  font-family: font;
}

.navigation-mobile {
  height: 100%;
  width: 100%;
  background-color: #2d314d;
  display: none;
  position: fixed;
  top: 0;
  z-index: 301;
}

.navigation-mobile .logo-nav {
  position: absolute;
  top: 1.9rem;
  left: 13px;
}

.navigation-mobile .navigaton-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-mobile .navigaton-wrapper a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 22px;
}

.navigation-mobile-open {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to top, #31d35c, #2bb7da);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 302;
  -webkit-box-shadow: 9px -7px 19px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 9px -7px 19px 0px rgba(0, 0, 0, 0.21);
}

.navigation-mobile-open .fa-bars {
  color: white !important;
}

.header {
  background-color: white;
  height: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 301;
}

.header .sub {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
}

.header .button {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  padding-right: 1rem;
}

.master-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/img/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f4f6;
}

.master-header .img {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  background-image: url("/img/image-mockups.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 200;
}

.master-header .sub {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 1rem;
  padding-bottom: 3.5rem;
}

.master-header .text {
  width: 80%;
}

.master-header .text p {
  line-height: 1.8;
  margin-top: 1rem;
}

p {
  font-size: 14px;
  text-align: left;
  opacity: 0.8;
  color: #2d314d;
}

h1 {
  font-size: 22px;
  text-align: left;
  color: #2d314d;
}
/*# sourceMappingURL=style.css.map */